<a href="https://colab.research.google.com/github/diegoznt/SIC/blob/main/Curso_cero_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Funcion print y e input

In [ ]:
print('Hola mundo')
print('Hola\nmundo')
print(1+3)
print('1+3')
print(10, 20)
print('hola',20+1)
print('hola'+'mundo')
print('hello '*3)
print(2*3)
# para imprimir junto con el siguiente print
print('hola', end=', ') # con un espacio o puede ser una coma
print('mundo')
# ahora seleccionamos el separador
print('hola','mundo',sep=', ')
#print('hola'+30) error

Hola mundo
Hola
mundo
4
1+3
10 20
hola 21
holamundo
hello hello hello
6
hola, mundo
hola, mundo

TypeError: can only concatenate str (not "int") to str

In [ ]:
#Input
n=input('Ingrese su nombre ')
print('Hola ',n)

# para valor numerico hay que convertir el string a numerico
x=int(input('numero 1: '))
y=int(input('numero 2: '))

suma=x+y
print('Su num 1 es', x, 'y su num 2 es', y, 'y la suma es', suma)
print(type(suma))

Ingrese su nombre f
Hola  f
numero 1: 1
numero 2: 2
Su num 1 es 1 y su num 2 es 2 y la suma es 3
<class 'int'>

**Errores**

error de sintaxis -> syntaxerror

error de tiempo de ejecucion -> valueError

# Variables

In [ ]:
import keyword
peso=7.4
persona=('Tu', 7.4) #Tuple
type(persona)

#Nombres de variables que no se pueden ocupar xq on propias de python
print('Lista')
print(keyword.kwlist)

# SE PUEDEN ASIGNAR UNA O MAS VARIABLES DENTRO DE UNA LINEA DE CODIGO
x, y= 10, 1
print(x+y)

nu1=nu2=3
print(nu1,nu2)
print(type(100.0))
print('a'=='a')
print(bool(1))

Lista
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
11
3 3
<class 'float'>
True
True

In [ ]:
#Ciclo For

#for _ in range(5):
  #print('BRO')

#range(0,5,1)
print(list(range(0,5,2)))
list(range(0,5,1))

s=0
for i in range(1,11):
 s += i
print('Suma de numeros del 1 al 10: ',s,i)

[0, 2, 4]
Suma de numeros del 1 al 10:  55 10

In [ ]:
fact=1
x=int(input('numero factorial'))
for i in range(x,1,-1):
 fact=fact*i
print('factorial de ',x,' es ', fact )

numero factorial4
factorial de  4  es  24

In [ ]:
st='hola'
print(list(st))

for i in 'hola\n':
  print(i,end='')

print('s','t','o',sep=',')

for i in range(1,11,2):
  print(i)

['h', 'o', 'l', 'a']
hola
s,t,o
1
3
5
7
9

In [ ]:
# WHILE

In [ ]:
list(range(1,10,1))

dojo=['hol',3,5]
olovorgo=[1,3.0]
print(dojo)
print(dojo[-1])
len(dojo)

dojo.append(9)
print(dojo)

# se pueden sumar o concatenar las listas a traves de suma
larga=dojo + olovorgo
print(larga)
dojo.extend(larga)

del dojo[1]
print(dojo)

#elimina ultimo elemento de la lista
print(dojo.pop(0))
print(dojo)
dojo.remove(5)
print(dojo)
print(dojo[:4])
print(dojo[-2:])
print(dojo[:-2])
print(dojo[::-1]) # nos imprime todos los elementos de la lista pero al reves
3 in  dojo # para ver si un elemento existe dentro de la lista
3 not in  dojo
# en la tupla no se pueden cambiar valores
print(dojo)
print(dojo[1:3])

['hol', 3, 5]
5
['hol', 3, 5, 9]
['hol', 3, 5, 9, 1, 3.0]
['hol', 5, 9, 'hol', 3, 5, 9, 1, 3.0]
hol
[5, 9, 'hol', 3, 5, 9, 1, 3.0]
[9, 'hol', 3, 5, 9, 1, 3.0]
[9, 'hol', 3, 5]
[1, 3.0]
[9, 'hol', 3, 5, 9]
[3.0, 1, 9, 5, 3, 'hol', 9]
[9, 'hol', 3, 5, 9, 1, 3.0]
['hol', 3]

In [ ]:
a='HHh'
print(a.count('H'))


("x",)*3

2

('x', 'x', 'x')